---
title: "VILLAGE POLITRICKS-The gang and Verification"
date: "2017-06-15 09:38:09"
slug: "village-politricks-the-gang-and-verification"
status: "publish"
type: "post"
author: "Richard"
source: "voiceofanafricanchild.WordPress.2019-03-12.xml"
originalUrl: "https://voiceofanafricanchild.com/2017/06/15/village-politricks-the-gang-and-verification/"
categories: ["Politricks", "Village Stories"]
tags: ["Art", "fellow", "hands", "kenya", "nairobi", "never", "political", "politricks", "school", "skinny", "thing", "three", "verification", "village"]
excerpt: ""
commentsCount: 12
---

<img class="alignnone size-full wp-image-332" src="https://voiceofanafricanchild.files.wordpress.com/2017/06/img_20170615_121948_226.jpg" alt="IMG_20170615_121948_226" width="555" height="393" />

They do not like my sweatpants in this village. Ati that's for females and spoilt Nairobi kids. So I wear my shorts because I am a big model. Role model that is. And also because I love the way the sun kisses my legs. I have cute feet, or so I have been told by a few damsels in campus. Cute sounds unmanly but again I'm not Blurry Face, I don't care what you think.

We have a place where we meet, three of us. Okay, let me introduce the gang.

<strong>The tailor</strong>.

He sits here limbs in constant motion : Stiching and mending and sewing and shouting. He is the loudest of us three. Especially when he is sticking out for his MCA candidate or talking matters footbal. He knows what Puyol told Messi at the dressing room in 2008. All of his footbal facts are always true and I never waste my colgate breath arguing with him. Yesterday someome defaced his candidate's poster. He came this morning guns blazing saying he knows who disrespected daddy-( His candidate). He is livid. He swears he knows who did it. We are not sure he does because he says alot of things. Like how he will chase away his wife if he realises she won't vote for daddy. I love this guy though because he gets to slim most of my baggy attire. I get skinnier by the day. Whoever bewitched me must be dead already. My damn body has refused to fatten.

<strong>The Painter</strong>

He does not have a lot of gigs lately. His paintbrush is drying up. But he is always smiling. He has a pretty wife which makes me think that's why he doesnt take painting seriously. All you need a pretty wife and food can stay. So pretty you just cook ugali and touch it to her face and no one needs veggies. Damn, I have used a cool kids word. Forgive me. I meant vegetables.

I did something there. I dont know whether you saw that.

I envy him.

<b>Me AKA "Oria"</b>

I'm not sure that's how it's spelt. But if there is a Somali around will you please help a fellow ? Aye ?
So because I'm skinny and ribs are sticking at my sides like guitar strings they get to ridicule me. That somali name has grown on me. These guys love me. They respect me because I am pursuing a reputable course. They want me to finish school and come vie for a position. They dont know how many retakes I have. They should never. So I get to act like an intellectual. Spitting wisdom left right centre, quoting books I have barely read because well, google.

We meet at this hotel daily. Where the tailor has his machinery at the entrace. Doing what he does best.

I like this diggz for several reasons. But the holy grail is because it is within the political bluetooth of campaigners. I get paid to a tune of 500 a day for just having my buttocks warm the seats. Everytime they come to "sell their manifesto", Kenyatta's face kisses my wallet. Here you cannot talk to people and walk away without handing out anything. Kwani who are you? Boniface Mwangi? Unless that. But he doesn't hail from here. So anyone else pulling a Besigye stunt will commit political suicide.

Today voter verification is ongoing.

<em>"Name and polling station?"</em>

The tailor spits his details. He speaks so fast like its a rap. Then its a wrap. ( haha, please keep up with terrible puns today).

<i>"Please place your finger in this slot. "</i>
Says the agent pointing to her electronic thingamajig

Up until this point I had not noticed how a marvelous piece of art she was.Like God must have created her at lunch time on a Sunday. After a good avocado dessert . The angels and Jesus were kids then and there was no adolescent in heaven to cause distraction. She carried face, as Davido would put it

<em>" No I wont ! " </em>

Shouts the tailor swinging his round head from side to side raising his hands. In this state he looks like he has two left brains.

<em>"My finger goes to two places only madam, my sewing machine and my wife! "</em>

Silences befalls  the diggz as everyone waits for scenes to unfold. The silence is great you could hear a chicken fart.

<em>"My fingers are either on my machine or my wife. My wife when I'm pointing at her warning her not to vote anyone else other than Daddy "</em>

He caresses the defaced poster on the wall.

The tailor says this is a strategy by IEBC and the government to steal his vote. He insits the only place he will allow it is at the ballot. All the other people at the diggz seem to agree. Except me ofcourse.  The intellectual with a few retakes.

The agent is frowning. You have not seen a beautiful angry woman. She looks like pineapple on pizza. Ugly but still desirable.

<em>"If no one else will place their finger here I will not verify. I am going go someplace else."</em> She shouts.

&nbsp;

<em>"We can go to my place."</em> I whisper.

<em>"What's that ?"</em> She stares.

<em>"Nothing, was coughing"</em>

I'm a coward.

No one at the diggz save for me the intellectuaI with retakes,  verified their votes. I wonder whether daddy's votes are intact.

&nbsp;
